# Ignore Python bytecode / cache directories
**/__pycache__/
*.py[cod]
*$py.class
project1/dataset/car_sales.csv
project1/dataset/car_sales.json
project1/dataset/car_sales.sql
project1/dataset/car_sales_final.sql
project1/car_sales/temporary_file/serializers.py
project1/car_sales/temporary_file/views.py



# Django specific files
db.sqlite3
db.sqlite3-journal
*.log

# Environments and virtual environments
.env
venv/
env/
