{% extends 'car_sales/base.html' %}
{% load static %}

{% block title %}Industry Info - Car Sales{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Industry Info</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Industry Info</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manufacturer Brands</h5>
          
          <div class="table-responsive">
            <table class="table datatable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Brand Name</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                </tr>
              </thead>
              <tbody>
                {% for ind in industries %}
                <tr>
                  <td>{{ ind.make_id }}</td>
                  <td><strong>{{ ind.make_name }}</strong></td>
                  <td>{{ ind.created_at }}</td>
                  <td>{{ ind.updated_at }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
